@font-face {
	font-family: "Lora";
	font-weight: 700;
	src: url("./fonts/Lora-Bold.ttf") format('truetype')
}

@font-face {
	font-family: "Roboto";
	font-weight: 700;
	src: url("./fonts/Roboto-Bold.ttf") format('truetype')
}

@font-face {
	font-family: "Roboto";
	font-weight: 700;
	font-style: italic;
	src: url("./fonts/Roboto-BoldItalic.otf") format('truetype')
}

@font-face {
	font-family: "Roboto";
	font-weight: 500;
	src: url("./fonts/Roboto-Medium.otf") format('truetype')
}

@font-face {
	font-family: "Roboto";
	font-weight: 500;
	font-style: italic;
	src: url("./fonts/Roboto-MediumItalic.otf") format('truetype')
}

@font-face {
	font-family: "Roboto";
	font-weight: 400;
	src: url("./fonts/Roboto-Regular.ttf") format('truetype')
}

@font-face {
	font-family: "Roboto";
	font-weight: 400;
	font-style: italic;
	src: url("./fonts/Roboto-Italic.otf") format('truetype')
}